@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/Img/BG.jpg);
    background-position: center center;
    background-repeat: none;
    background-size: max(1200px, 100vw);

    height: 70vh;
    position: relative;
}

.main {
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    height: 62px;
    align-items: center;

}

nav img {
    color: red;
    width: 120px;
    position: relative;
}

nav button {
    position: relative;
    z-index: 10;
}

.box2 {
    font-family: 'Martel Sans', sans-serif, ;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: center;
}

.box2:first-child {
    font-weight: bolder;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.box2:p {
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.separation {
    height: 7px;
    background-color: grey;
    position: relative;
    z-index: 20;
}

.btn {
    padding: 4px 10px;
    color: white;
    font-weight: 400;
    font-size: medium;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.4);
    cursor: pointer;
    


}

.btn-red {
    background-color: red;
    font-weight: 400;
    padding: 3px 20px;
    font-size: 20px;
    border-radius: 1px;
    border-color: rgba(23, 23, 23, 0.7);
    align-items: center;
    justify-content: center;
    color: white;



}

.main input {
    padding: 3px 24px;
    background-color: transparent;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 900;
    border-color: rgba(23, 23, 23, 0.5);
    border: 2px solid rgba(23, 23, 23, 0.6);



}


.btn-red-sn {
    background-color: red;
    padding: 3px 10px;
    font-size: medium;
    font-weight: bold;
    border-radius: 0%;
    border-color: red;
    color: white;
    border-color: rgba(23, 23, 23, 0.5);
}

.first{
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;

}
.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    top: 0;
    z-index: 10;


}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}
.two{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    border-bottom: 12px solid rgb(36, 54, 54);}
    .text{
        color: white;
        display: flex;
        margin: auto;
        flex: 1;
        flex-basis: 400px;
        justify-content: center;
        flex-direction: column;
        h1{
            font-size: 3rem;
            text-align: center;
        }
        P{
            width:90%;
            line-height: 1.5;
            font-size: 1.5rem;
            margin: auto;
            text-align: center;
        }
    }


    .container{
        display: flex;
        width:100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:10vh;
        p{
            width:90%;
            font-size: 2rem;
            color: white;
            background-color: rgb(36, 54, 54);
            padding: 1rem;
            border-bottom: 3px solid black;
            cursor: pointer;
            margin-top: 5rem;
 
            span{
                float: right;
                font-size: 2.6rem;
                margin-right: 1.5rem;
            }
        }
        .dropDown{
            color:white;
            background-color: rgb(36, 54, 54);
            width:85%;
            padding:1rem;
            position: relative;
            top:-10rem;
            font-size: 1.5rem;
            line-height: 1.5;
            transition: all .5s ease;
            z-index: -10;
 
 
        }
        .open{
     transition: all .5s ease;
     z-index: 1;
     top:-2rem;}
        }
    